# Ignore large dataset folders #
SVM_Encore/data/ex1-large/
SVM_Encore/src/data/ex1-large/
SVM_Encore/src/data/large/
SVM_Encore/lib/svm_perf/data/
encore-svm-test

SVM_Encore/src/encore_svm/svm_encore.dSYM/
SVM_Encore/src/encore_svm/svm_encore_src/

test/test.dSYM/
test/test_src/

*.dSYM

cabal-dev
*\.yas*
*.dSYM
*.o
*.hi
*.dyn_hi
*.dyn_o
*.chi
*.chs.h
*~
\#*\#
.virtualenv
.hsenv
.cabal-sandbox/
lib*.a
cabal.sandbox.config
cabal.config
release
GPATH
GRTAGS
GTAGS
.DS_Store
.vagrant
/.emacs.desktop
/.emacs.desktop.lock
/src/runtime/closure.make
/.dist-buildwrapper/
.project
